<h1>Cabecera</h1>
<h2>Subtítulo</h2>
<div class="rutas">
    <a [routerLink]="['/sobre']" routerLinkActive="activa">Sobre Mi</a>
    <a [routerLink]="['/informacion']">Información de la página</a>
    <a [routerLink]="['/contacto']">Contacta con nosotros</a>
</div>
<router-outlet></router-outlet>
<!--defino botones-->
<div class="botones">
    <button (click)="onClick('sobre')">Sobre Mi</button>
    <button (click)="onClick('informacion')">Información de la página</button>
    <button (click)="onClick('contacto')">Contacta con nosotros</button>
</div>

